{% extends "index.html" %}

{% block content %}
<h1>Banners <small>Lista Banners</small></h1>
  <ol class="breadcrumb">   
    <li><a href="/admin"><i class="fa fa-tachometer"></i>Home</a></li>
    <li class="active"><i class="fa fa-picture-o"></i>Banners</li>    
  </ol>
  <div class="content-box">
    <h2>Listagem de banners</h2>
    <div class="group-actions">
      <a class="btn btn-primary" href="/admin/banners/add">Novo banner</a>
    </div>
    <div class="content-form">    
    	<table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th class="col-sm-1"></th>
          <th>Imagem</th>
          <th>Título</th>
          <th class="col-sm-2">Opções</th>
        </tr>
      </thead>
      <tbody>
      {% for item in list %}
        <tr>    
          <td><i class="fa fa-toggle-{{ item.status ? 'on' : 'off' }}" aria-hidden="true"></i></td>
          <td><img src="/public/files/images/banners/{{ item.url_img}}" class="banners-img-list" alt="{{ item.title }}"></td>
          <td>{{ item.title }}<br /> <small>{{ item.url }}</small></td>
          <td>
            <div class="list-actions">
              <a class="btn btn-xs btn-primary" href="/admin/banners/edit/{{ item.id_banner }}">Editar</a>
              <a class="btn btn-xs btn-danger" href="/admin/banners/delete/{{ item.id_banner }}">Excluir</a>
            </div>
          </td>
        </tr>      
      {% endfor %}          
      </tbody>
    </table>
    	<footer>
    		<button class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
    	</footer>
      </div>
      </div>
{% endblock %}