<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		
		<!-- Bootstrap CSS -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="https://bootswatch.com/3/sandstone/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/styles/admin.min.css" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid">			
			<div class="login-form">
				{% if login_error %}
					<div class="alert alert-danger" role="alert">{{ login_error }}</div>					
				{% endif %}
				<form action="index" method="POST" role="form">
					<legend>Área Administrativa</legend>
					<div class="form-group">
						<label for="email" class="sr-only">E-mail</label>
						<input type="text" class="form-control" name="userdata[email]" id="email" placeholder="E-mail:">
						<label for="password" class="sr-only">Senha</label>
						<input type="password" class="form-control" name="userdata[password]" id="password" placeholder="Senha:">		
					</div>
					<div class="col-md-8">
						<div class="checkbox">
							<label>
								<input name="userdata[remember_me]" type="checkbox"> Mantenha-me conectado
							</label>
						</div>	
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary">Entrar</button>	
					</div>					
				</form>	
			</div>
		</div>
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	</body>
</html>