{% extends "index.html" %}

{% block title %}
	{{title}}
{% endblock %}

{% block content %}
	<div class="row banners">
		<div class="banner-full-1 parallax" data-speed="10"">		
			<div class="label">Cursos Jurídicos de Pós Graduação</div>
			<span>Pós Gradução Lato Sensu  em Direito do Estado, Direito Civil/Processual Civil e Direito do Trabalho/Previdenciário</span>
			<a class="btn btn-primary scroll" href="#cursos">Veja nossos cursos</a>
			<a class="btn-down scroll" href="#cursos"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
		</div>		
	</div>
	<div class="row cursos" id="cursos">
		<div class="cursos-box col-md-10 col-md-offset-1">
			<div class="row">
				{% for course in courses %}
				<div class="col-md-4">
					<div>
						<h2>
							<a href="{{ course.url_external ? course.url_external : course.url }}" target="{{ course.url_external ? '_blank' : '_self' }}">
								<img src="/public/files/images/banners/{{course.banners}}" alt="{{ course.name }}" style="max-width: 100%">
							</a>
						</h2>
						<p>{{ course.label }}</p>
						<a href="/{{ course.url }}" class="btn-primary">Saiba Mais</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row institucional" id="institucional">
		<div class="col-md-8 col-md-offset-2">
			<h1><img src="/public/images/projuris-body-logo.jpg" alt="Projuris Estudos Juridicos"></h1>
			<h2>Cursos Jurídicos de pós graduação lato sensu</h2>
			<p>A PROJURIS é uma Escola que atua na área de fomento à produção de conhecimento científico, incentivando o acesso ao aperfeiçoamento acadêmico e profissional, e oferecendo infraestrutura à pesquisa, ensino e extensão universitários aos advogados, bacharéis em Direito e outros profissionais que buscam melhores condições para atuação no mercado, cada dia mais competitivo, em patamares diferenciados.</p>
			<a href="" class="btn btn-primary">Venham estudar conosco!</a>
		</div>

	</div>
	<div class="row video parallax" data-speed="10" >
		<div class="video-content col-md-10 col-md-offset-1">
			<div class="row">
				<div class="video-embed col-md-6">
					<iframe width="440" height="315" src="https://www.youtube.com/embed/d57EH3ptBhQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
				</div>
				<ul class="video-list col-md-6">
					<li><i class="fa fa-star" aria-hidden="true"></i> Professores capacitados</li>
					<li><i class="fa fa-star" aria-hidden="true"></i> Materiais atualizados</li>
					<li><i class="fa fa-star" aria-hidden="true"></i> 8 anos em atividade</li>
					<li><i class="fa fa-star" aria-hidden="true"></i> Revista científica e incentivo à pesquisa</li>
					<li><i class="fa fa-star" aria-hidden="true"></i> Excelência no atendimento</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="row noticias" id="noticias">
		<h3><strong>Notícias</strong> e Informativos</h3>
		<div class="col-md-8 noticias-lista">	
			{% for new in news|slice(0, 2) %}
				<div class="noticia col-md-12">
					<div class="data">{{ new.dt_news|date("d/m/Y") }}</div>
					<!-- <div class="data"><span class="dia">07</span><span>ago</span><span>2017</span></div> -->
					<p>
						<a href="news/{{new.id_news}}">
						<strong>{{ new.title }}</strong>					
						<span>{{ new.label }}</span>
						Leia mais...</a>
					</p>
				</div>	
			{% endfor %}	
			
			<div class="row">
				{% for new in news|slice(2, 4) %}
					<div class="col-md-6">
						<div class="col-md-12 noticia">
							<div class="data">{{ new.dt_news|date("d/m/Y") }}</div>
							<p><a href="news/{{new.id_news}}">{{ new.title }}</a></p>
						</div>
					</div>
				{% endfor %}				
			</div>
			<a href="/noticias" class="seemore">Veja todas as notícias</a>
		</div>
		<div class="col-md-4 links">
			<img src="http://www.projuriscursos.com.br/public/arquivos/imagens/banners/revista-intervencao-estado-e-sociedade308356.jpg" alt="Revista Intervenção, Estado e Sociedade">
			<div id="face" class="right pad_top_10px">
                <div class="fb-like-box" data-href="https://www.facebook.com/ProjurisEstudosJuridicos" data-width="440px" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false"></div>
            </div>            
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) {return;}
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>            
		</div>
	</div>
	<div class="row depoimentos">
		<h3>Depoimentos</h3>		
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="col-md-8 col-md-offset-2">
						<div class="depoimento-img"><img src="/public/files/images/depoimentos/milenamanzano.jpg" alt="Milena Fernanda Manzano Brenzan"></div>
						<div class="depoimento-nome">Milena Fernanda Manzano Brenzan</div>
						<p>"O curso de pós-graduação em Direito do Trabalho e Previdenciário, promovido pelo Projuris Estudos Jurídicos, vem proporcionando um aprofundamento dos conhecimentos obtidos na graduação. Com aulas presenciais, discussões em sala e corpo docente amplamente qualificado e diversificado, são abordados entendimentos jurisprudenciais atuais e questões práticas essenciais à adequada aplicação do direito trabalhista e previdenciário."</p>

					</div>
				</div>
				<div class="item">
					<div class="col-md-8 col-md-offset-2">
						<div class="depoimento-img"><img src="/public/files/images/depoimentos/lucassimaobiachi.jpg" alt="Lucas Simao Bianchi"></div>
						<div class="depoimento-nome">Lucas Simao Bianchi</div>
						<p>"A pós-graduação é importante para reciclar e complementar o curso de graduação, bem como, em consequência, atualizar o profissional, de forma que lhe imprima noções de excelência e lhe possibilite melhores condições de trabalho, com mais possibilidades de atuação na área especifica a ser escolhida. A ProJuris foi uma escolha certeira e a recomendo para todos estudantes de Direito, pois se trata de excelente instituição, a qual oferece cursos de Pós-Graduação sérios, com professores de referência, aptos para aprofundar e especializar os conhecimentos acadêmicos do aluno"</p>
					</div>
				</div>
				<div class="item">
					<div class="col-md-8 col-md-offset-2">
					<div class="depoimento-img"><img src="/public/files/images/depoimentos/lucianabrizola.jpg" alt="Luciana Brizola"></div>
						<div class="depoimento-nome">Luciana Brizola</div>
						<p>"Estou matriculada no curso de Direito do Estado. Escolhi o PROJURIS após pesquisa sobre o corpo docente e ementa dos módulos. Entre as boas impressões que tenho do curso, gostaria de destacar a provocação ao pensamento crítico. Os professores, além de aprofundarem os conceitos, instigam o raciocínio jurídico, colaborando muito para a prática do dia a dia. Estou satisfeita com o apresentado até o momento!!!"</p>
					</div>
				</div>	
				<div class="item">
					<div class="col-md-8 col-md-offset-2">
					<div class="depoimento-img"><img src="/public/files/images/depoimentos/haissaoliveira.png" alt="Haissa Oliveira"></div>
						<div class="depoimento-nome">Haissa Oliveira</div>
						<p>"Sendo aluna do PROJURIS destacaria que todas as aulas que tive na Pós-Graduação acrescentaram muito em meus conhecimentos, os professores que ministram as aulas são excelentes. Passei a me interessar mais pelas matérias trabalhadas e até a começar a advogar nas mesmas, prática que só adquiri depois de estar na pós e perceber o quanto estava me desenvolvendo melhor nos assuntos."</p>
					</div>
				</div>		
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<i class="fa fa-angle-double-left" aria-hidden="true"></i>
				<span class="sr-only">Anterior</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				<span class="sr-only">Próximo</span>
			</a>
		</div>		
	</div>
	<!-- <div class="row newsletters">
		<h3>Cadastre-se</h3>
		<span>Receba informativos e novidades exclusivos</span>
		<form action="" method="POST" class="form-inline" role="form">
		
			<div class="form-group">
				<label class="sr-only" for="nome">Nome</label>
				<input type="text" class="form-control" id="nome" placeholder="Insira seu nome">
			</div>
			<div class="form-group">
				<label class="sr-only" for="email">E-mail</label>
				<input type="email" class="form-control" id="email" placeholder="Insira seu e-mail">
			</div>
			<button type="submit" class="btn btn-primary">Cadastre-se</button>
		</form>
	</div> -->
{% endblock %}
