<div class="menu">
	<ul class="btn-group-vertical">
		<li><a class="btn btn-default" href="/admin/index"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
		<li><a class="btn btn-default" href="/admin/banners"><i class="fa fa-picture-o" aria-hidden="true"></i>  Banners</a></li>
		<li><a class="btn btn-default" href="/admin/pages"><i class="fa fa-file-code-o" aria-hidden="true"></i> Páginas</a></li>
		<li><a class="btn btn-default" href="/admin/courses"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Cursos</a></li>
		<li><a class="btn btn-default" href="/admin/news"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Notícias</a></li>
		<li><a class="btn btn-default" href="/admin/testimonials"><i class="fa fa-comments-o" aria-hidden="true"></i> Depoimentos</a></li>
		<li><a class="btn btn-default" href="/admin/newsletters"><i class="fa fa-list-alt" aria-hidden="true"></i> Newsletter</a></li>
		<li><a class="btn btn-default" href="/admin/students"><i class="fa fa-user-circle" aria-hidden="true"></i> Alunos</a></li>
		<li><a class="btn btn-default" href="/admin/materials"><i class="fa fa-book" aria-hidden="true"></i> Materiais</a></li>
		<li><a class="btn btn-default" href="/admin/monographs"><i class="fa fa-file-text" aria-hidden="true"></i> Monografias</a></li>
	</ul>
</div>