<footer class="row">
	<div class="f-cursos col-md-4">
		<span>Cursos Projuris</span>
		<ul>
			<li><a href="/pos-graduacao-lato-sensu-em-direito-do-estado">Pós graduação lato senso em Direito do Estado</a></li>
			<li><a href="/pos-graduacao-lato-sensu-em-direito-civil-processual-civil">Pós graduação lato senso em Direito Civil/Processual Civil</a></li>
			<li><a href="/pos-graduacao-lato-sensu-em-direito-do-trabalho-previdenciario">Pós graduação lato senso em Direito do Trabalho/Previdenciário</a></li>
		</ul>		
	</div>
	<div class="f-institucional col-md-4">
		<span>Institucional</span>
		<ul>
			<!-- <li><a href="">Quem somos</a></li>
			<li><a href="">Coordenadores</a></li> -->
			<li><a href="#cursos">Cursos</a></li>
			<li><a href="#noticias">Notícias</a></li>
			<li><a href="/revista" target="_blank">Revista</a></li>
		<!-- 	<li><a href="">Contato</a></li> -->
		</ul>
	</div>
	<div class="f-selos col-md-4">
		<span>Convenios e Parcerias</span>
		<img src="public/images/oabstacruz.jpg" alt="OAB Santa Cruz Rio Pardo" />
		<a href="http://fio.edu.br/" target="_blank"><img src="/public/images/logo_fio.jpg" alt="FIO - OURINHOS" style="height:50px;"></a>
	</div>	
</footer>
<div class="credit row">
	Desenvolvido por <a href="http://www.maxwill.com.br" target="_blank"><img src="/public/images/maxwill.jpg" alt="Maxwill Estúdio Web"></a>
</div>