<footer class="row">
	<div class="f-cursos col-md-4">
		<span>Cursos Projuris</span>
		<ul>
			<li><a href="">Pós graduação lato senso em Direito do Estado</a></li>
			<li><a href="">Pós graduação lato senso em Direito Civil/Processual Civil</a></li>
			<li><a href="">Pós graduação lato senso em Direito do Trabalho/Previdenciário</a></li>
		</ul>		
	</div>
	<div class="f-institucional col-md-4">
		<span>Institucional</span>
		<ul>
			<li><a href="">Quem somos</a></li>
			<li><a href="">Coordenadores</a></li>
			<li><a href="">Cursos</a></li>
			<li><a href="">Notícias</a></li>
			<li><a href="">Revista</a></li>
			<li><a href="">Contato</a></li>
		</ul>
	</div>
	<div class="f-selos col-md-4">
		<span>Convenios</span>

	</div>
</footer>