<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h1><a class="navbar-brand" href="/index"><img src="/public/images/projuris-header-logo.jpg" alt="Projuris Estudos Jurídicos"></a></h1>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">		
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#top" class="scroll">Home</a></li>
				<li><a href="#cursos" class="scroll">Cursos</a></li>
				<li><a href="#noticias" class="scroll">Notícias</a></li>
				<li><a href="#institucional" class="scroll">Institucional</a></li>
				<li><a href="/revista" target="_blank">Revista</a></li>
				<li><a href="#" data-toggle="modal" data-target="#contatoModal">Contato</a></li>				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="lockhole-icon"></span>
						Área do aluno
					</a>
					<div class="dropdown-menu">
						<form action="/acesso/login" method="post" class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" name="userdata[email]" id="email" placeholder="Login:">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="userdata[password]" id="password" placeholder="Senha:">
							</div>		
							<a href="#" data-toggle="modal" data-target="#forgetModal">Esqueci minha senha</a>					
							<button type="submit" class="btn btn-default">Entrar</button>							
						</form>
					</div>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>